.fade-up{
animation:fadeUp .8s ease forwards;
}

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(50px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

.hover-card{

transition:.35s;

}

.hover-card:hover{

transform:translateY(-10px);

}

.glass{

backdrop-filter:blur(18px);

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.12);

}

.gradient-text{

background:linear-gradient(
90deg,
#0ea5e9,
#06b6d4
);

-webkit-background-clip:text;

color:transparent;

}