::selection{
background:#0ea5e9;
color:white;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#0284c7;
border-radius:50px;
}

img{

user-select:none;

-webkit-user-drag:none;

}

button{

cursor:pointer;

}

body{

overflow-x:hidden;

background:#fff;

}